<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/AdminLayout.css}">
    <script th:src="@{/js/AdminLayout.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style type="text/tailwindcss">
        @layer utilities {
            .font-montserrat {
            font-family: 'Montserrat', sans-serif;
            }
            .text-2xs {
            font-size: 0.5rem /* 12px */;
            line-height: 0.75rem /* 16px */;
            }
        }
    </style>
</head>

<body>

    <div class="flex h-screen font-montserrat">
        <aside class="bg-violet-800 md:w-fit overflow-y-scroll sidebar">
            <div class="md:flex md:h-1/6 flex-col justify-center items-center hidden">
                <div class="text-2xl uppercase font-bold text-white italic">
                    fuba
                </div>
                <hr class="text-white md:w-2/3">
            </div>
            <div class="flex">
                <ul class="text-white" id="buttonList">
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarUsers" onclick="location.href='/admin/users'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-user-group md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarAccounts" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa-regular fa-user-circle md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarTrips" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-truck-fast md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarRoutes" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-right-left md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarBuses" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-van-shuttle md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarEmployees" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-user-tie md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarInvoices" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-file-invoice-dollar md:text-xl"></i>
                            </div>
                        </button>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <button id="sidebarStatistical" onclick="location.href='/admin/'"
                            class="w-full h-full">
                            <div class="flex w-full h-full items-center justify-center px-5">
                                <i class="fa fa-chart-line md:text-xl"></i>
                            </div>
                        </button>
                    </li>

                </ul>

                <ul class="text-white transition ease-in-out duration-700" id="collapse-component">
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarUsers">
                                <div>Users</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarAccounts">
                                <div>accounts</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarTrips">
                                <div>trips</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarRoutes">
                                <div>routes</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarBuses">
                                <div>buses</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarEmployees">
                                <div>employees</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarInvoices">
                                <div>invoices</div>
                            </label>
                        </div>
                    </li>
                    <li class="md:h-14 transition duration-300 ease-in-out">
                        <div class="flex w-full h-full items-center text-start">
                            <label class="capitalize font-semibold flex-1 h-full flex items-center pe-5"
                                for="sidebarStatistical">
                                <div>statistical</div>
                            </label>
                        </div>
                    </li>

                </ul>
            </div>
        </aside>
        <div class="flex-1 h-full relative overflow-y-scroll">
            <div
                class="bg-white bg-opacity-50 backdrop-blur-sm flex justify-between w-full md:py-3 md:px-5 md:h-16 sticky top-0 left-0 shadow-md">
                <div class="flex w-1/2 justify-start md:space-x-10 ">
                    <button
                        class="bg-neutral-50 border rounded-md shadow shadow-zinc-300 md:px-3 md:py-2 hover:shadow-zinc-400 active:bg-slate-100 collapse-toggle"
                        data-fuba-target="#collapse-component"><i class="fa fa-grip-lines"></i></button>
                    <div class="flex md:space-x-3 items-center">
                        <div>admin</div>
                        <i class="fa-solid fa-angle-right h-fit"></i>
                        <div>user</div>
                        <i class="fa-solid fa-angle-right h-fit"></i>
                        <div>add</div>
                    </div>

                </div>
                <div class="flex justify-between w-1/2">
                    <div class="relative w-3/4">
                        <input type="text"
                            class="bg-neutral-50 rounded-full shadow shadow-zinc-300 hover:shadow-zinc-400 focus:shadow-zinc-400 border w-full h-full focus:outline-none md:px-4"
                            placeholder="Search">
                        <button class="absolute md:top-1/2 md:-translate-y-1/2 md:right-1 aspect-square h-full"><i
                                class="fa fa-magnifying-glass"></i></button>
                    </div>
                    <button
                        class="overflow-hidden max-h-full h-full rounded-full border aspect-square shadow shadow-zinc-300 hover:shadow-zinc-400 active:bg-slate-100"><img
                            th:src="@{/components/mascot2.png}" class="object-fill h-full" alt="avt"></button>
                </div>
            </div>
            <div layout:fragment="content" class="px-5 mt-5 overflow-y-scroll h-full"></div>
        </div>
    </div>
</body>

</html>
