<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tuyến</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .status {
            color: green;
        }

        .status.inactive {
            color: red;
        }
    </style>
</head>
<body>
<h1>Danh sách tuyến</h1>

<table>
    <thead>
    <tr>
        <th>RouteId</th>
        <th>Điểm đi</th>
        <th>Điểm đến</th>
        <th>Thời gian dự kiến</th>
        <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <!-- Lặp qua danh sách các tài xế -->
    <tr th:each="route : ${routes}">
        <td th:text="${route.routeId}">Tên</td>
        <td th:text="${route.departureLocation}">Biển số xe</td>
        <td th:text="${route.arrivalLocation}">Số điện thoại</td>
        <td th:text="${route.estimatedTime}">Địa chỉ</td>
        <td th:text="${route.status}" th:classappend="${route.status == 'Inactive'} ? 'status inactive' : 'status'">Trạng thái</td>
    </tr>
    </tbody>
</table>
</body>
</html>