<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body style="background-color: #f7fafc; padding: 2.5rem 0;">
<div style="max-width: 28rem; margin: 0 auto; background-color: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 0.5rem; overflow: hidden;">
    <div style="background-color: #7c3aed; padding: 1.5rem;">
        <h1 style="color: #ffffff; font-size: 1.5rem; font-weight: 700; text-align: center;">Reset Password Confirm</h1>
    </div>
    <div style="padding: 1.5rem;">
        <p style="color: #4a5568; margin: 0;">Hello,</p>
        <p style="color: #4a5568; margin: 1rem 0;">
            We received a request to reset your password. Click the button below to reset it:
        </p>
        <div style="text-align: center; margin: 1.5rem 0;">
            <a th:href="${resetLink}" style="background-color: #5b21b6; color: #ffffff; font-weight: 700; padding: 0.5rem 1rem; border-radius: 0.25rem; text-decoration: none; display: inline-block; outline: none; border: none;">Reset Password</a>
<!--            <form th:action="${resetLink}" method="POST">-->
<!--                <button type="submit" style="background-color: #5b21b6; color: #ffffff; font-weight: 700; padding: 0.5rem 1rem; border-radius: 0.25rem; text-decoration: none; display: inline-block; outline: none; border: none;">-->
<!--                    Reset Password-->
<!--                </button>-->
<!--            </form>-->
        </div>
        <p style="color: #4a5568; margin: 0;">
            If you didn't request a password reset, you can safely ignore this email.
        </p>
        <p style="color: #4a5568; margin: 1rem 0 0;">
            Best regards, <br>
            Fuba team
        </p>
    </div>
    <div style="background-color: #e5e7eb; padding: 1rem; text-align: center;">
        <p style="color: #718096; font-size: 0.875rem; margin: 0;">
            &copy; 2024 Fuba Bus Line.
        </p>
    </div>
</div>
</body>
</html>
