*::-webkit-scrollbar {
    display: none;
}

#buttonList button {
    border-left: 4px solid transparent;
}

#buttonList button:hover {
    border-left: 4px solid white !important;
}
.search-record{
    @apply rounded-sm hover:shadow hover:shadow-zinc-400 py-2 px-4;
}