<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{View/Layout/AdminLayout.html}">-->

<!--<head>-->
<!--    <title>Quản lý tuyến xe</title>-->
<!--</head>-->

<!--<body>-->
<!--<div layout:fragment="content">-->
<!--    <div class="w-full md:px-10 flex flex-col justify-start items-center h-full rounded-2xl bg-white">-->
<!--        <div class="text-start w-full">-->
<!--            <div class="font-bold text-3xl capitalize text-gray-700">thông tin tuyến xe</div>-->
<!--            <div class="text-lg capitalize text-gray-700 italic">quản lý và chỉnh sửa thông tin các tuyến</div>-->
<!--            <hr class="w-full text-gray-800">-->
<!--        </div>-->
<!--        <form th:action="@{/admin/routes/update}" th:object="${updateRouteForm}" method="post"-->
<!--              class="flex-grow w-full grid grid-cols-12 md:py-5">-->
<!--            <div class="col-span-4 flex flex-col justify-center items-center">-->
<!--                <div class="h-1/6">-->
<!--                    <img th:src="@{/components/noavt_male.png}"-->
<!--                         class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">-->
<!--&lt;!&ndash;                    <img th:if="*{profilePhoto == null and gender == T(com.example.ticketbooker.Util.Enum.Gender).OTHER}"&ndash;&gt;-->
<!--&lt;!&ndash;                         th:src="@{/components/noavt_other.png}"&ndash;&gt;-->
<!--&lt;!&ndash;                         class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-span-8 border border-transparent border-l-gray-800 border-dashed flex flex-col justify-center items-start md:p-10 w-full h-full">-->
<!--                <input type="hidden" th:field="*{routeId}" />-->
<!--                <div class="flex justify-start items-center w-full h-10">-->
<!--                    <label for="departureLocation" class="text-gray-700 italic text-lg w-2/6">Nơi bắt đầu: </label>-->
<!--                    <input type="text" class="bg-transparent border-none outline-none focus:outline-none text-lg"-->
<!--                           id="departureLocation" th:field="*{departureLocation}">-->
<!--                </div>-->
<!--                <div class="flex justify-start items-center w-full h-10">-->
<!--                    <label for="arrivalLocation" class="text-gray-700 italic text-lg w-2/6">Nơi kết thúc: </label>-->
<!--                    <input type="text" class="bg-transparent border-none ou`tline-none focus:outline-none text-lg"-->
<!--                           id="arrivalLocation" th:field="*{arrivalLocation}">-->
<!--                </div>-->
<!--                <div class="flex justify-start items-center w-full h-10">-->
<!--                    <label for="estimatedTime" class="text-gray-700 italic text-lg w-2/6">Thời gian dự kiến: </label>-->
<!--                    <input type="time" class="bg-transparent border-none outline-none focus:outline-none text-lg"-->
<!--                           id="estimatedTime" th:field="*{estimatedTime}">-->
<!--                </div>-->
<!--                <div class="flex justify-start items-center w-full h-10">-->
<!--                    <label for="status" class="text-gray-700 italic text-lg w-2/6">Trạng thái:</label>-->
<!--                    <select id="status" th:field="*{status}"-->
<!--                            class="bg-transparent border-none outline-none focus:outline-none text-lg">-->
<!--                        <option th:value="${T(com.example.ticketbooker.Util.Enum.RouteStatus).ACTIVE}"-->
<!--                                th:text="${T(com.example.ticketbooker.Util.Enum.RouteStatus).ACTIVE}"-->
<!--                                th:selected="${status == T(com.example.ticketbooker.Util.Enum.RouteStatus).ACTIVE}">-->
<!--                        </option>-->
<!--                        <option th:value="${T(com.example.ticketbooker.Util.Enum.RouteStatus).INACTIVE}"-->
<!--                                th:text="${T(com.example.ticketbooker.Util.Enum.RouteStatus).INACTIVE}"-->
<!--                                th:selected="${status == T(com.example.ticketbooker.Util.Enum.RouteStatus).INACTIVE}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="flex justify-end w-full h-10">-->
<!--                    <button-->
<!--                            class="add-user-open px-3 font-semibold w-1/6 rounded-lg bg-green-500 hover:bg-green-600 text-white">-->
<!--                        Lưu-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{View/Layout/AdminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Form Tuyến Đường</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div layout:fragment="content">
    <div class="container mx-auto p-4">
        <h1 th:if="${routeDTO.routeId} == null" class="text-2xl font-bold mb-4">Form Thêm Tuyến Đường</h1>
        <h1 th:if="${routeDTO.routeId} != null" class="text-2xl font-bold mb-4">Form Sửa Tuyến Đường</h1>

        <!-- Form to Add New Route -->
        <form th:if="${routeDTO.routeId} == null" th:action="@{/admin/routes/add}" method="post"
              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- Departure Location -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="departureLocationNew">Điểm Khởi Hành</label>
                <input type="text" name="departureLocation" id="departureLocationNew"
                       th:field="*{routeDTO.departureLocation}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Arrival Location -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="arrivalLocationNew">Điểm Đến</label>
                <input type="text" name="arrivalLocation" id="arrivalLocationNew"
                       th:field="*{routeDTO.arrivalLocation}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Estimated Time -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="estimatedTimeNew">Thời Gian Ước Tính</label>
                <input type="time" name="estimatedTime" id="estimatedTimeNew" th:field="*{routeDTO.estimatedTime}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Status -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="routeStatusNew">Trạng Thái</label>
                <select name="status" id="routeStatusNew" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="ACTIVE"
                            th:selected="${routeDTO.status == T(com.example.ticketbooker.Util.Enum.RouteStatus).ACTIVE}">
                        ACTIVE
                    </option>
                    <option value="INACTIVE"
                            th:selected="${routeDTO.status == T(com.example.ticketbooker.Util.Enum.RouteStatus).INACTIVE}">
                        INACTIVE
                    </option>
                </select>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Thực hiện
                </button>
                <a href="/admin/routes"
                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Quay lại</a>
            </div>
        </form>

        <!-- Form to Edit Existing Route -->
        <form th:if="${routeDTO.routeId} != null" th:action="@{/admin/routes/update}" method="post"
              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- Route ID -->
            <input type="hidden" name="routeId" th:value="${routeDTO.routeId}" required>

            <!-- Departure Location -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="departureLocation">Điểm Khởi Hành</label>
                <input type="text" name="departureLocation" id="departureLocation"
                       th:field="*{routeDTO.departureLocation}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Arrival Location -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="arrivalLocation">Điểm Đến</label>
                <input type="text" name="arrivalLocation" id="arrivalLocation"
                       th:field="*{routeDTO.arrivalLocation}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Estimated Time -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="estimatedTime">Thời Gian Ước Tính</label>
                <input type="time" name="estimatedTime" id="estimatedTime" th:field="*{routeDTO.estimatedTime}" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Status -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="routeStatus">Trạng Thái</label>
                <select name="status" id="routeStatus" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="ACTIVE"
                            th:selected="${routeDTO.status == T(com.example.ticketbooker.Util.Enum.RouteStatus).ACTIVE}">
                        ACTIVE
                    </option>
                    <option value="INACTIVE"
                            th:selected="${routeDTO.status == T(com.example.ticketbooker.Util.Enum.RouteStatus).INACTIVE}">
                        INACTIVE
                    </option>
                </select>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Cập nhật
                </button>
                <a href="/admin/routes"
                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Quay lại</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>

<script type="text/javascript" th:src="@{/js/RouteManagement.js}"></script>