<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{View/Layout/AdminLayout.html}">

<head>
    <title>Quản lý người dùng</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="w-full md:px-10 flex flex-col justify-start items-center h-full rounded-2xl bg-white">
            <div class="text-start w-full">
                <div class="font-bold text-3xl capitalize text-gray-700">thông tin tài khoản</div>
                <div class="text-lg capitalize text-gray-700 italic">quản lý và chỉnh sửa thông tin tài khoản</div>
                <hr class="w-full text-gray-800">
            </div>
            <form th:action="@{/admin/users/update}" th:object="${updateUserForm}" method="post"
                class="flex-grow w-full grid grid-cols-12 md:py-5">
                <div class="col-span-4 flex flex-col justify-center items-center">
                    <div class="h-1/6">
                        <img th:if="*{profilePhoto != null}" th:src="*{profilePhoto}"
                            class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">
                        <img th:if="*{profilePhoto == null and gender == T(com.example.ticketbooker.Util.Enum.Gender).MALE}"
                            th:src="@{/components/noavt_male.png}"
                            class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">
                        <img th:if="*{profilePhoto == null and gender == T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}"
                            th:src="@{/components/noavt_female.png}"
                            class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">
                        <img th:if="*{profilePhoto == null and gender == T(com.example.ticketbooker.Util.Enum.Gender).OTHER}"
                            th:src="@{/components/noavt_other.png}"
                            class="rounded-full shadow-inner h-full aspect-square border shadow-gray-500">
                    </div>
                    <input type="file" accept=".jpg, .jpeg, .png" class="block avatar-input" th:field="*{profilePhoto}" />
                </div>
                <div
                    class="col-span-8 border border-transparent border-l-gray-800 border-dashed flex flex-col justify-center items-start md:p-10 w-full h-full">
                    <input type="hidden" th:field="*{userId}" />
<!--                    <input type="hidden" th:field="*{accountId}" />-->
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="fullNameInput" class="text-gray-700 italic text-lg w-2/6">Họ và tên:</label>
                        <input type="text" class="bg-transparent border-none outline-none focus:outline-none text-lg"
                            id="fullNameInput" th:field="*{fullName}">
                    </div>
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="phoneInput" class="text-gray-700 italic text-lg w-2/6">Số điện thoại:</label>
                        <input type="text" class="bg-transparent border-none outline-none focus:outline-none text-lg"
                            id="phoneInput" th:field="*{phone}">
                    </div>
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="addressInput" class="text-gray-700 italic text-lg w-2/6">Địa chỉ:</label>
                        <input type="text" class="bg-transparent border-none outline-none focus:outline-none text-lg"
                            id="addressInput" th:field="*{address}">
                    </div>
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="dateOfBirthInput" class="text-gray-700 italic text-lg w-2/6">Ngày sinh:</label>
                        <input type="date" class="bg-transparent border-none outline-none focus:outline-none text-lg"
                            id="dateOfBirthInput" th:field="*{dateOfBirth}">
                    </div>
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="gender" class="text-gray-700 italic text-lg w-2/6">Giới tính:</label>
                        <select id="gender" th:field="*{gender}"
                            class="bg-transparent border-none outline-none focus:outline-none text-lg">
                            <option th:value="${T(com.example.ticketbooker.Util.Enum.Gender).MALE}"
                                th:text="${T(com.example.ticketbooker.Util.Enum.Gender).MALE}"
                                th:selected="*{gender == T(com.example.ticketbooker.Util.Enum.Gender).MALE}">
                            </option>
                            <option th:value="${T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}"
                                th:text="${T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}"
                                th:selected="*{gender == T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}">
                            </option>
                            <option th:value="${T(com.example.ticketbooker.Util.Enum.Gender).OTHER}"
                                th:text="${T(com.example.ticketbooker.Util.Enum.Gender).OTHER}"
                                th:selected="*{gender == T(com.example.ticketbooker.Util.Enum.Gender).OTHER}">
                            </option>
                        </select>
                    </div>
                    <div class="flex justify-start items-center w-full h-10">
                        <label for="status" class="text-gray-700 italic text-lg w-2/6">Trạng thái:</label>
                        <select id="status" th:field="*{status}"
                            class="bg-transparent border-none outline-none focus:outline-none text-lg">
                            <option th:value="${T(com.example.ticketbooker.Util.Enum.UserStatus).ACTIVE}"
                                th:text="${T(com.example.ticketbooker.Util.Enum.UserStatus).ACTIVE}"
                                th:selected="*{status == T(com.example.ticketbooker.Util.Enum.UserStatus).ACTIVE}">
                            </option>
                            <option th:value="${T(com.example.ticketbooker.Util.Enum.UserStatus).INACTIVE}"
                                th:text="${T(com.example.ticketbooker.Util.Enum.UserStatus).INACTIVE}"
                                th:selected="*{status == T(com.example.ticketbooker.Util.Enum.UserStatus).INACTIVE}">
                            </option>
                        </select>
                    </div>
                    <div class="flex justify-end w-full h-10">
                        <button
                            class="add-user-open px-3 font-semibold w-1/6 rounded-lg bg-green-500 hover:bg-green-600 text-white">
                            Lưu
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
<script type="text/javascript" th:src="@{/js/UserManagement.js}"></script>

<!--<!DOCTYPE html>-->
<!--<html lang="vi" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{View/Layout/AdminLayout.html}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Form Người Dùng</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body class="bg-gray-100">-->
<!--<div layout:fragment="content">-->
<!--    <div class="container mx-auto p-4">-->
<!--        <h1 th:if="${userDTO.userId} == null" class="text-2xl font-bold mb-4">Form Thêm Người Dùng</h1>-->
<!--        <h1 th:if="${userDTO.userId} != null" class="text-2xl font-bold mb-4">Form Sửa Người Dùng</h1>-->

<!--        &lt;!&ndash; Form để thêm mới (khi userDTO.userId là null) &ndash;&gt;-->
<!--        <form th:if="${userDTO.userId} == null" th:action="@{/admin/users/create}" method="post"-->
<!--              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">-->
<!--            <div class="flex flex-col justify-center items-center">-->
<!--                <div class="h-1/6">-->
<!--                    <img th:src="@{/components/noavt_other.png}"-->
<!--                         class="rounded-full shadow-inner w-2/3 aspect-square border shadow-gray-500">-->
<!--                </div>-->
<!--                <input type="file" accept=".jpg, .jpeg, .png" class="block avatar-input" th:field="*{userDTO.profilePhoto}" />-->
<!--            </div>-->
<!--            &lt;!&ndash; Họ và Tên &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="fullNameNew">Họ và Tên</label>-->
<!--                <input type="text" name="fullName" id="fullNameNew" th:field="*{userDTO.fullName}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Số Điện Thoại &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="phoneNew">Số Điện Thoại</label>-->
<!--                <input type="text" name="phone" id="phoneNew" th:field="*{userDTO.phone}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Địa Chỉ &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="addressNew">Địa Chỉ</label>-->
<!--                <input type="text" name="address" id="addressNew" th:field="*{userDTO.address}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Ngày Sinh &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfBirthNew">Ngày Sinh</label>-->
<!--                <input type="date" name="dateOfBirth" id="dateOfBirthNew" th:field="*{userDTO.dateOfBirth}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Giới Tính &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="genderNew">Giới Tính</label>-->
<!--                <select name="gender" id="genderNew" th:field="*{userDTO.gender}" required-->
<!--                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--                    <option value="MALE" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).MALE}">Nam</option>-->
<!--                    <option value="FEMALE" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}">Nữ</option>-->
<!--                    <option value="OTHER" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).OTHER}">Khác</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            &lt;!&ndash; Trạng Thái &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="statusNew">Trạng Thái</label>-->
<!--                <select name="status" id="statusNew" th:field="*{userDTO.status}" required-->
<!--                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--                    <option value="ACTIVE" th:selected="${userDTO.status == T(com.example.ticketbooker.Util.Enum.UserStatus).ACTIVE}">ACTIVE</option>-->
<!--                    <option value="INACTIVE" th:selected="${userDTO.status == T(com.example.ticketbooker.Util.Enum.UserStatus).INACTIVE}">INACTIVE</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="flex items-center justify-between">-->
<!--                <button type="submit"-->
<!--                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">-->
<!--                    Thực hiện-->
<!--                </button>-->
<!--                <a href="/admin/users"-->
<!--                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Quay lại</a>-->
<!--            </div>-->
<!--        </form>-->

<!--        &lt;!&ndash; Form để chỉnh sửa (khi userDTO.userId không null) &ndash;&gt;-->
<!--        <form th:if="${userDTO.userId} != null" th:action="@{/admin/users/update}" method="post"-->
<!--              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">-->
<!--            <input type="hidden" name="userId" th:value="${userDTO.userId}" required>-->
<!--            &lt;!&ndash; Họ và Tên &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="fullName">Họ và Tên</label>-->
<!--                <input type="text" name="fullName" id="fullName" th:field="*{userDTO.fullName}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Số Điện Thoại &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Số Điện Thoại</label>-->
<!--                <input type="text" name="phone" id="phone" th:field="*{userDTO.phone}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Địa Chỉ &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Địa Chỉ</label>-->
<!--                <input type="text" name="address" id="address" th:field="*{userDTO.address}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Ngày Sinh &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfBirth">Ngày Sinh</label>-->
<!--                <input type="date" name="dateOfBirth" id="dateOfBirth" th:field="*{userDTO.dateOfBirth}" required-->
<!--                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--            </div>-->
<!--            &lt;!&ndash; Giới Tính &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">Giới Tính</label>-->
<!--                <select name="gender" id="gender" th:field="*{userDTO.gender}" required-->
<!--                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--                    <option value="MALE" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).MALE}">Nam</option>-->
<!--                    <option value="FEMALE" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).FEMALE}">Nữ</option>-->
<!--                    <option value="OTHER" th:selected="${userDTO.gender == T(com.example.ticketbooker.Util.Enum.Gender).OTHER}">Khác</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            &lt;!&ndash; Trạng Thái &ndash;&gt;-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="status">Trạng Thái</label>-->
<!--                <select name="status" id="status" th:field="*{userDTO.status}" required-->
<!--                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--                    <option value="ACTIVE" th:selected="${userDTO.status == T(com.example.ticketbooker.Util.Enum.UserStatus).ACTIVE}">ACTIVE</option>-->
<!--                    <option value="INACTIVE" th:selected="${userDTO.status == T(com.example.ticketbooker.Util.Enum.UserStatus).INACTIVE}">INACTIVE</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="flex items-center justify-between">-->
<!--                <button type="submit"-->
<!--                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">-->
<!--                    Thực hiện-->
<!--                </button>-->
<!--                <a href="/admin/users"-->
<!--                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Quay lại</a>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
